body {
    font-family:Arial;
    margin: 0;
}



/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.66%;
}
.span_10_of_12 {
  	width: 83.33%;
}

.span_9_of_12 {
  	width: 75%;
}

.span_8_of_12 {
  	width: 66.66%;
}

.span_7_of_12 {
  	width: 58.33%;
}

.span_6_of_12 {
  	width: 50%;
}

.span_5_of_12 {
  	width: 41.66%;
}

.span_4_of_12 {
  	width: 33.33%;
}

.span_3_of_12 {
  	width: 25%;
}

.span_2_of_12 {
  	width: 16.66%;
}

.span_1_of_12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 680px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}

#companyname {
    position:absolute;
    left:0px;
    z-index:1;
}

        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #ffffff;
        }

            ul.topnav li {
                float: right;
            }

                ul.topnav li a {
                    display: inline-block;
                    color:#383d76;
                    text-align: center;
                    padding: 5px 5px;
                    text-decoration: none;
                    transition: 0.3s;
                    font-size: smaller;
                    border-left: 1px solid #ccc;
                }

                    ul.topnav li a:hover {
  background-color:aliceblue;
                    }

                ul.topnav li.icon {
                    display: none;
                }

        @media screen and (max-width:680px) {
            ul.topnav li {
                display: none;
            }

            ul.topnav li.icon {
                float: right;
                display: inline-block;
            }
        }

        @media screen and (max-width:680px) {
            ul.topnav.responsive {
                position: relative;
            }

                ul.topnav.responsive li.icon {
                    position: relative;
                    right: 0;
                    top: 0;
                }

                ul.topnav.responsive li.lan {
                    float: right;
                    display: inline;
                    right:0;
                }

                    ul.topnav.responsive li a {
                        display: block;
                        text-align: left;
                    }
        }




footer {
    background-color:#4e538b;
    text-align:center;
    color: white;
padding: 20px 0px 20px 0px;
}
