  #fixednav {
        position: fixed;
        top: 70px;
    }

    .main {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #383d76;
    }

        .main > .dropdown, .fixednavli {
            float: left;
            font-size: 10px;
        }

        .main > .fixednavli:last-child {
            float: right;
        }

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
    }
}